    .quantity-input {
            display: block;
            border:solid thin #eee;
            width:175px;
            font-size:12px;
            padding:5px;
            margin-top:15px;
            margin-bottom: 15px;
            height: 22px;
        }
        .quantity-input * {
            display: inline-block;
        }
        .quantity-input .quantity {
            padding: 5px;
            text-align: center;
            width: 25px;
            float: right;
        }
        .quantity-input span {
            float:right;
	        height: 15px;
	        -moz-border-radius: 15px;
	        -webkit-border-radius: 15px;
	        border-radius: 15px;
            background: silver; 
            padding: 4px;
            width: 15px;
            color:white;
            text-align: center;
            line-height: 1.4;
            cursor: pointer;
        }    