.btn{
        border-radius: 2px;
		color: #ffffff;
		font-size: 20px;
        border:transparent;
        width:48%;
        padding-top:10px;
        padding-bottom: 10px;
        text-decoration: none
}
.pickupStore{

  background: #5f5f63;
  background-image: -webkit-linear-gradient(#5f5f63, #000);
  background-image: -moz-linear-gradient(#5f5f63, #000);
  background-image: -o-linear-gradient(#5f5f63, #000);
  background-image: linear-gradient(#5f5f63, #000);
                
}
.addToCart{
   background: #f71818;
   background-image: -webkit-linear-gradient(#f71818, #c00); 
   background-image: -moz-linear-gradient(#f71818, #c00);
   background-image: -o-linear-gradient(#f71818, #c00);
   background-image: linear-gradient(#f71818, #c00);
}


@media screen and (max-width: 400px) {
.pickupStore{
        font-size: 14px;
		
}
.addToCart{
        font-size: 14px;
    }
}